---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Tag List"
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        <p>Here is a list of all tags used in posts on this site.</p>
    </div>
</BaseLayout>