---
import Prose from "../components/Prose.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
    <div class="px-6 md:px-2 pt-6">
    <h1 class="text-4xl font-bold text-center pt-8">{pageTitle}</h1>
    <Prose>
        <p>You know everything you need to know about me.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit urna, sociis lobortis dictum ut tincidunt leo pharetra, praesent class est mus convallis justo diam. Donec felis semper porta eros varius nascetur a, dictumst primis commodo habitasse tempor consequat ullamcorper, aliquam venenatis suspendisse ultrices magnis egestas. Mus ultricies cum fusce pharetra ligula odio leo, class sem dictum curabitur sapien condimentum in, egestas orci ridiculus mollis fermentum ante.

            Scelerisque vestibulum lacus pellentesque penatibus varius aenean condimentum, arcu id porttitor netus eros sagittis, magna ornare habitasse himenaeos semper lobortis. Fermentum aenean interdum habitasse elementum metus primis sodales quis ad etiam sagittis eu nascetur rutrum, enim non torquent blandit eget morbi hendrerit bibendum fringilla diam tellus ridiculus. Hac euismod elementum integer a eu vestibulum dapibus placerat, iaculis eros curae natoque tortor purus lacus donec, cum ligula ornare dui commodo vivamus quisque.</p>
    </Prose>   
    </div>

</BaseLayout>