---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        <p>You know everything you need to know about me.</p>
    </div>
</BaseLayout>