---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-4xl font-bold text-center pt-8">{pageTitle}</h1>
    <div>
        <p>You know everything you need to know about me.</p>
    </div>
</BaseLayout>