---
import BaseLayout from "../layouts/BaseLayout.astro"
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}))
const pageTitle = "The Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        <p>This is where all the posts will go.</p>
        <ul>
            {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </div>
</BaseLayout>