---
import BaseLayout from "../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"
const allPosts = await getCollection("blog")
const pageTitle = "The Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <div>
        <p>This is where all the posts will go.</p>
        <ul>
            {allPosts.map((post: any) => <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>)}
        </ul>
    </div>
</BaseLayout>