---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>

	<div>
		<p class="text-center">This is the main page</p>
	</div>
</BaseLayout>
