---
import BaseLayout from "./BaseLayout.astro"
import Prose from "../components/Prose.astro"
const {frontmatter} = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="px-6 md:px-2">
        <p>{frontmatter.pubDate.toString().slice(0,10)}</p>
        <div>
            <img src={frontmatter.image.url} alt="Main Image" />
        </div>
        <Prose>
            <slot/>   
        </Prose>

    </div>
</BaseLayout>
